<div class="docker">
    <div id="dock">
        <ul>
            <li>
                <span>Finder</span> <a href="#"><img src="images/docker-icon/finder.png"></a>
            </li>
            <li>
                <span>App Store</span> <a href="#"><img src="images/docker-icon/appstore.png"></a>
            </li>
            <li>
                <span>Launchpad</span> <a href="#"><img src="images/docker-icon/launchpad.png"></a>
            </li>
            <li>
                <span>System pereferences</span> <a href="#"><img src="images/docker-icon/preference.png"></a>
            </li>
            <li>
                <span>Siri</span> <a href="#"><img src="images/docker-icon/siri.png"></a>
            </li>
            <li>
                <span>iTunes</span> <a href="#"><img src="images/docker-icon/itunes.png"></a>
            </li>
            <li>
                <span>Terminal</span> <a href="#" onclick="add_terminal()"><img src="images/docker-icon/terminal.png"></a>
            </li>
        </ul>
    </div>
</div>