.logo-d {
  text-align: center;
  margin-top: 220px;
}
.logo-d img {
  width: 40%;
  height: 40%;
}
.line {
  margin: 0 auto;
  width: 45%;
  height: 5px;
  background: #fff;
  border-radius: 20px 60px 20px 50px;
}
.docker #dock {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.docker {
  position: fixed;
  bottom: 0;
  text-align: center;
  right: 20%;
  left: 10%;
  width: 79%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px 10px 0 0;
}

.docker li {
  margin-left: 2.5px;
  margin-right: 2.5px;
  list-style-type: none;
  display: inline-block;
  position: relative;

  &:not(&:active) {
    animation-name: docker-unclick;
    animation-duration: 1.2s;
  }

  &:active {
    animation-name: docker-click;
    animation-duration: 1.2s;
  }
}

.docker li img {
  width: 50px;
  height: 50px;
  -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, 0.5)));
  transition: all 0.3s;
  transform-origin: 40% 70%;
}

.docker li:hover img {
  transform: scale(2);
  margin: 0 2em;
}

.docker li:hover + li img,
.docker li.prev img {
  transform: scale(1.5);
  margin: 0 1.5em;
}

.docker li span {
  display: none;
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  background-color: #222;
  padding: 4px 0;
  border-radius: 7px;
}

.docker li:hover span {
  display: block;
  color: #fff;
}
